.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 98, 119);
    padding: 10px 20px;
    color: white;
  }
  
  .navbar .logo {
    font-size: 1.5em;
    color: #00ffdd; /* Bootstrap primary color */
    text-decoration: none;
    cursor: pointer; /* Show pointer on hover */
  }
  
  .navbar .logo:hover {
    color: #b3cbc957; /* Slightly darker shade on hover */
  }
  
  